@main_font_family : 'Arvo', serif;
@code_font_family : 'Inconsolata', monospace;
@box_radius: 10px;
@pagination_radius: 2px;

html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}

/* GENERAL */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

body {
    background: #fff;
    color: #333;
    font: 11px verdana, arial, helvetica, sans-serif;
}

#pageBody {
    margin-left:10px;
    margin-right:10px;
}

#grailsLogo {
	padding:20px;
}

a:link, a:visited, a:hover {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #48802c;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

ul {
    padding-left: 15px;
}

input, select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font-size: 11px;	
	font-family: @main_font_family;	
    margin: 2px 0;
    padding: 2px 4px;
}
select {
   padding: 2px 2px 2px 0;
}
textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}
input.largefield {
	width: 250px;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}
div.errors ul {
    list-style: none;
    padding: 0;
}
div.errors li {
	background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

/* TABLES */
table {
	border-spacing : 0px;
}	

table.main {
    width: 100%;
    border-spacing : 25px;
}
tr {
    border: 0;
}
td, th {
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}

td.bordered {
	border: 1px solid #ccc;
	margin: 5px;
	border-radius: @box_radius;
	moz-border-radius: @box_radius;
	webkit-border-radius: @box_radius;
}

td.search {
	width: 350px;
}

td.results {
	width: 100%
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

div.title {
	font-size: 24px;	
	font-family: @main_font_family;	
	font-weight: bold;
	padding: 2px 6px;
	margin: 5px 0px 15px 5px;
}

div.subtitle {
	font-size: 20px;	
	font-family: @main_font_family;	
	font-weight: bold;
	margin: 5px 0px 15px 5px;
}

div.metadata {
	font-size: 13px;	
	font-family: @main_font_family;	
	font-weight: bold;
	margin: 5px 5px;
}

span.formlabel {
	font-size: 12px;	
	font-family: @main_font_family;	
}

div.commitdescription {
	font-size: 13px;	
	font-family: @main_font_family;		
	margin: 2px 2px 5px 2px;
	padding: 2px 6px;
}

div.filepath {
	font-size: 12px;
	font-family: @code_font_family;		
	margin: 2px 2px;
	padding: 2px 6px;
}

td.formlabel {
	vertical-align : top;
	font-size: 12px;	
	font-family: @main_font_family;	
	margin: 2px 0 0 5px;
    padding: 8px 0 0 5px;
    white-space: nowrap;
}

td.formfield {
	white-space: nowrap;
}	

div.pagination {
    font-size: 14px;    
    font-family: @main_font_family; 
    white-space: nowrap;
    text-align:center;    
    margin: 15px 0 15px 0;
}


div.pagination a {
    border: 1px solid #ccc;
    padding: 2px;    
    border-radius: @pagination_radius;
    moz-border-radius: @pagination_radius;
    webkit-border-radius: @pagination_radius;   
} 